{% block content %}
  <h1>Pull GitHub Repositories</h1>

  <h2>Plugin Info</h2>
  <p>Name: {{ plugin_info.name }}</p>
  <p>Version: {{ plugin_info.version }}</p>
  <p>Author: {{ plugin_info.author }}</p>
    <p> {{ resume_pdf }}</p>

    <form method="post">
    {% csrf_token %}
    <lable for="username"> GitHub Username: </lable>
    <input type="text" id="username" name="username" required>
    <button type="submit">Get Repositories</button>
    </form>

    {% if repositories %}
        <ul>
            {% for repo in repositories %}
                <li>{{ repo.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{#  <h2>Settings</h2>#}
{#  <ul>#}
{#    {% for setting in settings %}#}
{#      <li>{{ setting.setting_name }}: {{ setting.setting_value }}</li>#}
{#    {% endfor %}#}
{#  </ul>#}

  <!-- Здесь можно добавить форму или другие элементы для редактирования настроек -->
{% endblock %}